body {
    background-color: #f5fedf;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    min-width: 320px;
    height: 500px;
    flex-direction: column;
    
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    width: 100%;
    height: 85%;
    /* border: 1px solid orange; */
    align-items: center;
    justify-content: center;
}

.video-logo {
    width: 100%;
    max-width: 880px;
    max-height: 360px;
    object-fit: cover;
    margin: auto;
 
}

.navbar {
    display: flex;
    position: relative;
    margin:auto;
    width: 80%;
    height: 20%;
    justify-content: center;
    /* border: 1px solid blue; */
}

.navbar ul {
    height: 60%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-family: 'montserrat', sans-serif;
    font-size: 80%;
    background-color: #ef9b58;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid green; */
}

.navbar ul li {
    display: flex;
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

.nav-button {
  display: flex;
  background-color: #754e04;
  width: 18%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
}

li a {
    display: inline-block;
    width: 100%;   
    text-decoration: none;
    background-color: transparent;
    text-decoration-color: none;
    color: white;
    z-index: 2;
}

.nav-button:has(a:hover) {
  background-color: #3c5034;
}

.nav-bar-image1 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    left: 2px;
    top: 0;
    opacity: 0;
    transform: scaleY(-1);
    
    
}

.navbar ul li a:hover .nav-bar-image1{
    animation: FadeInDown 0.5s ease-out forwards;
}

.nav-bar-image2 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    right: 0px;
    top: 0;
    opacity: 0;
    transform: translateY(10px) ;
    
}

.navbar ul li a:hover .nav-bar-image2{
    animation: FadeInUp 0.5s ease-out forwards;
}


@keyframes FadeInDown {
  from {
    opacity: 0;
    transform: translateX(-0) rotate(-160deg);
  }
  to {
    opacity: 1;
    transform: translateX(-80%) translateY(5px) rotate(-180deg);
    width: 50%;
  }
}

@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateX(-35px) translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(45px) translateY(-38px) rotate(38deg);
    width: 50%;
  }
}


@media (max-width: 1270px) {
.navbar  {
  width: 125%;
  height: 30%;
  transform: translateX(-10%);
  /* border: 1px solid blue; */}
}

@media (max-width: 800px) {
  .navbar ul li a:hover .nav-bar-image2 {
    animation: none;
  }
  .navbar ul li a:hover .nav-bar-image1 {
    animation: none;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    /* border: 1px solid red; */
  }

  .logo-container {
  width: 100%;
  height: 70%;
    }
  .navbar ul li a:hover .nav-bar-image2 {
    animation: none;
  }
  .navbar ul li a:hover .nav-bar-image1 {
    animation: none;
  }
}
}



@media (max-width: 1270px) {
.navbar  {
  width: 125%;
  height: 30%;
  transform: translateX(-10%);
  /* border: 1px solid blue; */}
}
