html {
scroll-behavior: smooth;
}

body {
    background-color: #f5fedf;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    min-width: 320px;
    height: 500px;
    flex-direction: column;
    
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    width: 100%;
    height: 85%;
    /* border: 1px solid orange; */
    align-items: center;
    justify-content: center;
}

.video-logo {
    width: 100%;
    max-width: 880px;
    max-height: 360px;
    object-fit: cover;
    margin: 0 auto;
 
}

.navbar {
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 20%;
    justify-content: center;
    /* border: 1px solid blue; */
}

.navbar ul {
    height: 60%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-family: 'montserrat', sans-serif;
    font-size: 80%;
    background-color: #ef9b58;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid green; */
}

.navbar ul li {
    display: flex;
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

.nav-button {
  display: flex;
  background-color: #754e04;
  width: 18%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
}

li a {
    display: inline-block;
    width: 100%;   
    text-decoration: none;
    background-color: transparent;
    text-decoration-color: none;
    color: white;
    z-index: 2;
}

.nav-button:has(a:hover) {
  background-color: #3c5034;
}

.nav-bar-image1 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    left: 2px;
    top: 0;
    opacity: 0;
    transform: scaleY(-1);    
}

.navbar ul li a:hover .nav-bar-image1{
    animation: FadeInDown 0.5s ease-out forwards;
}

.nav-bar-image2 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    right: 0px;
    top: 0;
    opacity: 0;
    transform: translateY(10px) ;
    
}

.navbar ul li a:hover .nav-bar-image2{
    animation: FadeInUp 0.5s ease-out forwards;
}

.welcome-to-our-menu-wrapper {
  width: 100%;
  height: auto;
  background-image: url(Assets/Images/Restaurant-Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5), 0px -2px 5px rgba(0, 0, 0, 0.5) ;
  display: flex;
  flex-direction: column;
}


h1 {
    font-family: 'montserrat', sans-serif;
    font-weight: 800;
    width: 60%;
    margin: 10px auto;
    color: white;
    text-align: center;
    background-color: rgba(9, 34, 1, 0.445);

} 

.italic {
  font-style: italic;
}

.menu-introduction-paragraph {
  width: 40%;
  max-width: 600px;
  min-width: 200px;
  font-family: 'montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  text-align: justify;
  margin: 0 auto 10px auto;
  padding: 0 10% 20px 10%;
  background-color: rgba(9, 34, 1, 0.445);
}

@media (min-width: 800px) {
  .welcome-to-our-menu-wrapper{
    width: 50%;
    margin: auto;
    font-size: 0.8rem;
    padding: 0 5% 20px 5%;
  }
  
}

.divider-image-flipped {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto 0 auto;
    transform: rotate(180deg);
  }

.main-dishes-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  
}

.main-dishes-icon {
  width: 60px;
  height: auto;
  display: inline-block;
}

.main-dishes-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color:  #3c5034;
    text-align: center;
    transform: translateY(5px);
    font-size: 3.2rem;
    
}

.card {
    background-color: #aecc62;
    border-radius: 5%;
    border: 3px solid white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-ornament-left {
  position: absolute;
  width: 35%;
  transform: translate(-70%, 50%) rotate(-35deg);
}

.card-ornament-right {
  position: absolute;
  width: 35%;
  transform: translate(220%, 250%) rotate(35deg);
  z-index: 7;
}

.card-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #3c5034;
    text-align: center;
    font-size: 1.5rem;
}

.main-dishes-grid-container {
  display: grid;
  width: 75%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 15px;
  justify-content: center;
}


.card-image {
    aspect-ratio: 1 / 1; 
    width: 50%;
    object-fit: cover;
    border-radius: 5%;
    border: 2px solid white;
    margin: 0 auto 10px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(0, 0, 0, 0.3);
}

.card-description {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color: #3c5034;
    text-align: center;
    font-size: 1rem;
}

.card-price {
    display: inline-block;
    width: 50%;
    margin: 10px auto;
    border-radius: 7px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    background-color: #f5fedf;
    color: #3c5034;
    text-align: center;
    font-size: 0.9rem;
}


/* New introduced code for modal */
        .modal {
          display: none;
          position: fixed;
          z-index: 10;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.7);
        }

        .modal-content {
          background-color: white;
          margin: 10% auto;
          padding: 20px;
          border-radius: 12px;
          width: 90%;
          max-width: 600px;
          position: relative;
        }

        .close {
          position: absolute;
          top: 15px;
          right: 20px;
          font-size: 30px;
          font-weight: bold;
          color: #333;
          background-color: white;
          cursor: pointer;
          z-index: 12;
          border-radius: 12px 0 12px 0;
        }

        /* Optional: Dim the original card to indicate it's clickable */
        .maindish {
          transform: background-color 0.3s ease;
          cursor: pointer;
        }

        .maindish:hover {
          background-color: #93d33f;
        }

        .maindish:active {
          background-color: #aecc62;
          
        }

.drink-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.drink-icon {
  width: 60px;
  height: auto;
  display: inline-block;
}

.drink-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color:  #3c5034;
    text-align: center;
    transform: translateY(5px);
    font-size: 3.2rem;
}

.drink-grid-container {
  display: grid;
  width: 75%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 15px;
  justify-content: center;
}

.drink {
    background-color: #2ff086;
    border-radius: 5%;
    border: 3px solid white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}


/* hover drinks*/
        .drink {
          cursor: pointer;
        }

        .drink:hover {
          background-color: #87ffb5;
        }

        .drink:active {
          background-color: #84f7d4;
          
        }

/* End of new introduced code for modal */




.dessert-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.dessert-icon {
  width: 60px;
  height: auto;
  display: inline-block;
}

.dessert-title {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    color:  #3c5034;
    text-align: center;
    transform: translateY(5px);
    font-size: 3.2rem;
}


.dessert-grid-container {
  display: grid;
  width: 75%;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 15px;
  justify-content: center;
}

.dessert {
    background-color: #ffd9ff;
    border-radius: 5%;
    border: 3px solid white;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px -2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}
/* hover dessert*/
        .dessert {
          cursor: pointer;
        }

        .dessert:hover {
          background-color: #fdcef3;
        }

        .dessert:active {
          background-color: #f7d8fd;
          
        }

/* End of new introduced code for modal */

@keyframes FadeInDown {
  from {
    opacity: 0;
    transform: translateX(-0) rotate(-160deg);
  }
  to {
    opacity: 1;
    transform: translateX(-80%) translateY(5px) rotate(-180deg);
    width: 50%;
  }
}

@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateX(-35px) translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(45px) translateY(-38px) rotate(38deg);
    width: 50%;
  }
}


@media (max-width: 1270px) {
.navbar  {
  width: 125%;
  height: 30%;
  transform: translateX(-10%);
  /* border: 1px solid blue; */}
}

@media (max-width: 800px) {
  .navbar ul li a:hover .nav-bar-image2 {
    animation: none;
  }
  .navbar ul li a:hover .nav-bar-image1 {
    animation: none;
  }

  .menu-introduction-paragraph {
    width: 80%;
  }

  h1 {
    font-size: 1.4rem;
    padding: 0 20% 0 20%;
  }

  .main-dishes-title {
    font-size: 1.8rem;
}
  .header {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    /* border: 1px solid red; */
  }

  .logo-container {
  width: 100%;
  height: 70%;
    }
  .navbar ul li a:hover .nav-bar-image2 {
    animation: none;
  }
  .navbar ul li a:hover .nav-bar-image1 {
    animation: none;
  }
}

@media (max-width: 1270px) {
.navbar  {
  width: 125%;
  height: 30%;
  transform: translateX(-10%);
  /* border: 1px solid blue; */}
}


.divider {
    display: flex;
    width: 80%;
    min-width: 320px;
    height: 120px;
    margin: 0 auto;
}

.divider-image {
    width: 100%;
    object-fit:contain;
    margin: 0 auto;
    /* border: 1px solid #3c5034; */
}


.contact-us-wrapper {
  /* border: 1px solid red; */
  width: 100vw;
  height:550px;
  background-image: url(Assets/Images/FooterLeafBackground.jpg);
  background-color: transparent;
  background-size: cover;
  opacity: 1;
  z-index: 0;
  box-shadow: 0px -11px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  position: relative;
  flex-direction: column;
}

.contact-us-box {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px auto 20px auto;
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: row;
}


.contact-us-box h2 {
  color: white;
  background-color: transparent;
  left: 30%;
}

span {background-color: transparent;}

.contact-form {
  font-family: 'montserrat', sans-serif;

  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 70%;
  padding: 20px;
  z-index: 4;
  background-color: transparent;
}

label {
  font-family: 'montserrat', sans-serif;
  color: white;
  background-color: transparent;
  width: 80%;
  margin-bottom: 10px;
  z-index: 5;
}

input {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  background-color: white;
  width: 80%;
  margin-bottom: 10px;
  z-index: 5;
}

textarea {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  background-color: white;
  width: 80%;
  height: 100px;
  margin-bottom: 0;
  z-index: 5;
}

#send-button {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  width: 35%;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

#send-button:hover {
  background-color: #547247;
  color: white;
}

.contact-us-divider{
  width: 3px;
  height: 300px;
  background-color: white;
  border-radius: 2px;
  margin: auto;
  }

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin: auto;
  background-color: transparent;
}

.social-media-icon {
  width: 50%; 
  height: auto;
  margin: 25px auto;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.social-media-icons a {
  margin: 5px auto;
  text-align: center;
  background-color: transparent;
  z-index: 6;
}

.contact-us-wrapper p {
  color: white;
  font-family: 'montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  height: 20px;
  text-align: center;
  justify-content: center;
  padding: 13px 0 10px 0;
  font-size: 0.75rem;
}

.copyright-p {
  font-weight: 800;
  
}

.home-button-bottom {
  width: 8%;
  height: 4%;
  position: absolute;
  bottom: 12%;
  right: 10%;
  background-color: #3c5034;
  color: white;
  padding: 14px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  font-family: 'montserrat', sans-serif;
  text-align: center;
  border: 3px solid #f5fedf;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-button-bottom:hover {
  background-color: #456b36;
}


@media (max-width: 700px) {
  
    .contact-us-wrapper{
    height: 500px;
  }

  .contact-us-box{
    flex-direction: column;
    width: 80%;
    height: 70%;
  }

  .contact-us-box h2{
   font-size: 1.25rem;
  }

  .contact-form {
    width: 90%;
    height: 80%;
    padding: 0px;
    margin-top: 0px;
  }

  .contact-us-divider {
    height: 3px;
    width: 70%;
    margin: auto;
  }

  .social-media-icons {
    flex-direction: row;
    height: 10%;
    
  }

  .social-media-icons a {
    margin: 0 10px;
  }

  .social-media-icon {
    width: 45px;
    height: auto;
  }
  
  #send-button {
    font-size: 0.7rem;
    padding: 5px;
  }

  .home-button-bottom {
  width: 40px;
  height: 10px;
  padding: 15px 8px 16px 10px;
  font-size: 0.7rem;
  bottom: 5px;
  }
}





