* {
    background-color: #f5fedf;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.header {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    min-width: 320px;
    height: 380px;
    
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    width: 70%;
    height: 100%;
    /* border: 1px solid orange; */
    align-items: center;
}

.video-logo {
    width: 100%;
    max-width: 880px;
    max-height: 360px;
    object-fit: cover;
    margin: auto;
 
}

.navbar {
    Display: flex;
    margin:auto;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

.navbar ul {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.divider {
    display: flex;
    width: 80%;
    min-width: 320px;
    height: 120px;
    background-color: transparent;
    margin: -40px auto 0 auto;
    /* border: 1px solid #3c5034; */
}

.divider-image {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto;
    /* border: 1px solid #3c5034; */
}
.divider-image-flipped {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto 0 auto;
    transform: rotate(180deg);
    background-color: transparent;
    }

.section-about-us-intro {
    display: flex;
    margin: 20px auto 20px auto;
    width: 40%;
    min-width: 320px;
    height: 150px;
    /* border: 1px solid red; */
}

.ornament1 {
    transform: rotate(30deg);
    pointer-events: none;
    object-fit: contain;
    z-index: 0;
    height: 55%;
    width: auto;
    background-color: transparent;
    margin: 0 auto;
    opacity: 0.7;
    /* border: 1px solid red; */
}

.right-ornament1 {
    transform: rotate(-30deg) scaleX(-1);
    
}

.italic {
    font-style: italic;
    animation: FadeIn 5s ease-out 3s infinite;
    opacity: 0;
    animation-delay: 2s;
    background-color: transparent;
}

.bold  {
    font-weight: 900;
    background-color: transparent;
}

.section-about-us-intro h1 {
    font-size: 1.7rem;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: center;
    margin: 10px auto;
    /* border: 1px solid red; */
    
}

.about-paragraph-container {
  position: relative;
  width: 100vw;
  margin: 0;  
  
  background-color: #3c5034;
  padding: 0 0 0 0;
  /* border: 1px solid red; */
}

h2 {
    font-size: 1.5rem;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: center;
    margin: 10px auto;
    background-color: #f5fedf;
    /* border: 1px solid red; */
}




.about-us-paragraph {
    position: relative;
    width: 48%;
    margin: -10px auto 0 auto;
    font-size: 1.1rem;
    font-family: 'montserrat', sans-serif;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: transparent;
    color: #f5fedf;
    /* border: 1px solid red; */
}

.about-us-paragraph p {
   background-color: transparent;
}    

.ornament2-1 {
    position: absolute;
    width: 35px;
    transform: translateX(-50px) translateY(30px) rotate(30deg);
    background-color: transparent;
}
.ornament2-2 {
    position: absolute;
    width: 35px;
    transform: translateX(-65px) translateY(100px) rotate(50deg);
    background-color: transparent;
}
.ornament2-3 {
    position: absolute;
    right:0;
    transform: translateX(50px) translateY(-130px) scaleX(-1) rotate(-30deg);
    width: 35px;
    background-color: transparent;
}
.ornament2-4 {
     position: absolute;
    right:0;
    transform: translateX(65px) translateY(-70px) scaleX(-1) rotate(-55deg);
    width: 35px;
    background-color: transparent;
}

#divider3 {
    transform: translateY(20px);
}

.about-us-container {
    display: flex;
    margin: 40px auto 0 auto;
    width: 50%;
    min-width: 320px;
    height: auto;
    max-height: 300px;
    /* border: 1px solid red; */
    align-items: center;
}

.about-us-image-container {
    display: flex;
    position: relative;
    width: 50%;
    /* border: 1px solid orange; */
    justify-content: center;
}

.about-us-image-container p {
    position: absolute;
    background-color: transparent;
    top: 35%;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    text-shadow: 0 2px 10px #3c5034, 0 3px 10px #3c5034;
    opacity: 0;
    
}

.about-us-image-container p.visible {
    animation: FadeInViewer 1s ease-out 0.9s forwards;
    
}

.about-us-image {
    width: 100%;
    max-width: 280px;
    min-width: 210px;
    max-height: 300px;
    object-fit: cover;
    margin: auto;
    transform: rotate(7deg);
    border-radius: 14px;

    opacity: 0;
    position: relative;

    transform: translateX(-100%);
}

.about-us-image.visible {
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}

.about-us-image-container2 {
    width: 50%;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0 20px;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: justify;
    align-items: center;
    font-size: 1.1rem;
}

#divider4 {
    transform: rotate(180deg) translateY(-40px)
    
}

.about-the-food-container {
    display: flex;
    margin: 40px auto 0 auto;
    width: 50%;
    min-width: 320px;
    height: auto;
    max-height: 300px;
    /* border: 1px solid red; */
    align-items: center;
}

.about-the-food-text-container {
    width: 50%;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 35px 20px 20px 20px;
    max-height: 300px;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: justify;
    align-items: center;
    font-size: 1.1rem;
  }

.about-our-food-image {
    width: 100%;
    max-width: 315px;
    min-width: 290px;
    max-height: 300px;
    object-fit: cover;
    margin: auto;
    transform: rotate(7deg);
    border-radius: 14px;

    opacity: 0;
    position: relative;
}

.about-our-food-image.visible {
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.3s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(7deg);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(90%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(-7deg);
    opacity: 1;
  }
}

@keyframes FadeInViewer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .about-us-container {
    flex-direction: column;
    min-height: 680px;
  }
}


@media (max-width: 1100px) {
  .about-the-food-container {
    flex-direction: column-reverse;
    min-height: 400px;
     

  }
}


@media (max-width: 1100px) {
    .about-us-image-container2 {
    font-size: 1rem;   
    width: 80%;
}
}

@media (max-width: 1100px) {
    .about-the-food-text-container {
    font-size: 1rem;   
    width: 80%;
}
}


@media (max-width: 1100px) {
    #divider4 {
    transform: rotate(180deg) translateY(110px);

}
}

@media (max-width: 1100px) {
  .about-us-paragraph {
    font-size: 0.95rem;
  }
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}