* {
    background-color: #f5fedf;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 70%;
    min-width: 320px;
    height: 330px;
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    width: 70%;
    height: 100%;
    /* border: 1px solid orange; */
    align-items: center;
}

.logoPlaceHolder {
    width: 100%;
    max-width: 780px;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
 
}

.navbar {
    Display: flex;
    margin:auto;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
}

.navbar ul {
    height: 100%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
}

.divider {
    display: flex;
    width: 80%;
    min-width: 320px;
    height: 120px;
    background-color: transparent;
    margin: -40px auto 0 auto;
    /* border: 1px solid #3c5034; */
}

.divider-image {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto;
    /* border: 1px solid #3c5034; */
}

.section-about-us-intro {
    display: flex;
    margin: 0 auto;
    width: 40%;
    min-width: 320px;
    height: 330px;
    /* border: 1px solid red; */
}

.ornament1 {
    transform: rotate(30deg);
    pointer-events: none;
    object-fit: contain;
    z-index: 0;
    height: 25%;
    width: auto;
    background-color: transparent;
    margin: 0 auto;
    opacity: 0.7;
    /* border: 1px solid red; */
}

.right-ornament1 {
    transform: rotate(-30deg) scaleX(-1);
    
}

.italic {
    font-style: italic;
    animation: FadeIn 5s ease-out 3s infinite;
    opacity: 0;
    animation-delay: 2s;
}

.bold  {
    font-weight: 900;
}

.section-about-us-intro h1 {
    font-size: 1.7rem;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: center;
    margin: 10px auto;
    /* border: 1px solid red; */
    
}


.about-us-container {
    display: flex;
    margin: 700px auto 0 auto;
    width: 70%;
    min-width: 320px;
    height: 330px;
    border: 1px solid red;
}

.about-us-image-container {
    display: flex;
    width: 45%;
    border: 1px solid orange;
    justify-content: center;
}

.about-us-image {
    width: 100%;
    max-width: 320px;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
    transform: rotate(7deg);
    border-radius: 14px;

    opacity: 0;
    position: relative;

    transform: translateX(-100%);
    transition: none; /* ensures it doesn’t animate on load */
}

.about-us-image.visible {
  animation: slideInLeft 1s ease-out forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(7deg);
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}