html {
scroll-behavior: smooth;
}


* {
    background-color: #f5fedf;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: transparent;
  
}

.background-ornaments {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: relative;
}

#background-ornament-1 {
    position: absolute;
    width: 25%;
    background-color: transparent;
    /* transform: translateY(50px) translateX(-40px) rotate(-110deg); */
    transform: rotate(-100deg);
    top: 5px;
    left: -35px;
}

#background-ornament-2 {
    position: absolute;
    width: 25%;
    background-color: transparent;
    /* transform: translateY(50px) translateX(-40px) rotate(-110deg); */
    transform: rotate(150deg)
    scaleX(-1);
    top: 8px;
    right: -35px;
}



.header {
    padding-top: 20px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    min-width: 320px;
    height: 500px;
    flex-direction: column;
    background-color: transparent;
    
    /* border: 1px solid red; */
}

.logo-container {
    display: flex;
    width: 100%;
    height: 85%;
    /* border: 1px solid orange; */
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.video-logo {
    width: 100%;
    max-width: 880px;
    max-height: 360px;
    object-fit: cover;
    margin: auto;
 
}

.navbar {
    display: flex;
    position: relative;
    margin:auto;
    width: 80%;
    height: 20%;
    justify-content: center;
    background-color: transparent ;
    /* border: 1px solid blue; */
}

.navbar ul {
    height: 60%;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 7%;
    font-family: 'montserrat', sans-serif;
    font-size: 80%;
    background-color: #ef9b58;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    /* border: 1px solid green; */
}

.navbar ul li {
    display: flex;
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

.nav-button {
  display: flex;
  background-color: #754e04;
  width: 18%;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);
}

li a {
    display: inline-block;
    width: 100%;   
    text-decoration: none;
    background-color: transparent;
    text-decoration-color: none;
    color: white;
    z-index: 2;
}

.nav-button:has(a:hover) {
  background-color: #3c5034;
}

.nav-bar-image1 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    left: 2px;
    top: 0;
    opacity: 0;
    transform: scaleY(-1);
    
    
}

.navbar ul li a:hover .nav-bar-image1{
    animation: FadeInDown 0.5s ease-out forwards;
}

.nav-bar-image2 {
    position: absolute;
    width: 17%;
    background-color: transparent;
    right: 0px;
    top: 0;
    opacity: 0;
    transform: translateY(10px) ;
    
}

.navbar ul li a:hover .nav-bar-image2{
    animation: FadeInUp 0.5s ease-out forwards;
}


.divider {
    display: flex;
    width: 80%;
    min-width: 320px;
    height: 120px;
    background-color: transparent;
    margin: -40px auto 0 auto;
    /* border: 1px solid #3c5034; */
}

.divider-image {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto;
    /* border: 1px solid #3c5034; */
}



.divider-image-flipped {
    width: 100%;
    background-color: transparent;
    object-fit:contain;
    margin: 0 auto 0 auto;
    transform: rotate(180deg);
    background-color: transparent;
    }

.section-about-us-intro {
    display: flex;
    margin: 20px auto 20px auto;
    width: 40%;
    min-width: 320px;
    height: 150px;
    /* border: 1px solid red; */
}

.ornament1 {
    transform: rotate(30deg);
    pointer-events: none;
    object-fit: contain;
    z-index: 0;
    height: 55%;
    width: auto;
    background-color: transparent;
    margin: 0 auto;
    opacity: 0.7;
    /* border: 1px solid red; */
}

.right-ornament1 {
    transform: rotate(-30deg) scaleX(-1);
    
}

.italic {
    font-style: italic;
    animation: FadeIn 5s ease-out 3s infinite;
    opacity: 0;
    animation-delay: 2s;
    background-color: transparent;
}

.bold  {
    font-weight: 900;
    background-color: transparent;
}

.section-about-us-intro h1 {
    font-size: 1.7rem;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: center;
    margin: 10px auto;
    background-color: transparent;
    /* border: 1px solid red; */
    
}

.about-paragraph-container {
  position: relative;
  width: 100vw;
  margin: 0;  
  
  background-color: #3c5034;
  padding: 0 0 0 0;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px -8px 10px rgba(0, 0, 0, 0.3);
  /* border: 1px solid red; */
}

h2 {
    font-size: 1.5rem;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: center;
    margin: 10px auto;
    background-color: #f5fedf;
    /* border: 1px solid red; */
}




.about-us-paragraph {
    position: relative;
    width: 40%;
    margin: -10px auto 0 auto;
    font-size: 1.1rem;
    font-family: 'montserrat', sans-serif;
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: transparent;
    color: #f5fedf;
    /* border: 1px solid red; */
}

.about-us-paragraph p {
   background-color: transparent;
}    

.ornament2-1 {
    position: absolute;
    width: 35px;
    transform: translateX(-50px) translateY(30px) rotate(30deg);
    background-color: transparent;
}
.ornament2-2 {
    position: absolute;
    width: 35px;
    transform: translateX(-65px) translateY(100px) rotate(50deg);
    background-color: transparent;
}
.ornament2-3 {
    position: absolute;
    right:0;
    transform: translateX(50px) translateY(-130px) scaleX(-1) rotate(-30deg);
    width: 35px;
    background-color: transparent;
}
.ornament2-4 {
     position: absolute;
    right:0;
    transform: translateX(65px) translateY(-70px) scaleX(-1) rotate(-55deg);
    width: 35px;
    background-color: transparent;
}

#divider3 {
    transform: translateY(20px);
}

.about-us-container {
    display: flex;
    margin: 40px auto 0 auto;
    width: 50%;
    min-width: 320px;
    height: auto;
    max-height: 300px;
    /* border: 1px solid red; */
    align-items: center;
}

.about-us-image-container {
    display: flex;
    position: relative;
    width: 50%;
    /* border: 1px solid orange; */
    justify-content: center;
}

.about-us-image-container p {
    position: absolute;
    background-color: transparent;
    top: 35%;
    font-family: 'montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    text-shadow: 0 2px 10px #3c5034, 0 3px 10px #3c5034;
    opacity: 0;
    
}

.about-us-image-container p.visible {
    animation: FadeInViewer 1s ease-out 0.9s forwards;
    
}

.about-us-image {
    width: 100%;
    max-width: 280px;
    min-width: 210px;
    max-height: 300px;
    object-fit: cover;
    margin: auto;
    transform: rotate(7deg);
    border-radius: 14px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: relative;

    transform: translateX(-100%);
}

.about-us-image.visible {
  animation: slideInLeft 1s ease-out forwards;
  animation-delay: 0.3s;
}

.about-us-image-container2 {
    width: 50%;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0 20px;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    background-color: transparent;
    text-align: justify;
    align-items: center;
    font-size: 1.1rem;
    display: flex;
    position: relative;
}

.about-us-image-container2 p{
  background-color: transparent;
    
}

.about-us-image-container2 img{
  opacity: 0.9;
    
}


#Ornament3-1{
  position: absolute;
  width: 15%;
  background-color: transparent;
  right: -40%;
  bottom: 57%;
  transform: rotate(100deg);
}

#Ornament3-2{
  position: absolute;
  width: 11%;
  background-color: transparent;
  right: -18%;
  bottom: 12%;
  transform: rotate(-200deg);
}


#divider4 {
    transform: translateY(20px) rotate(180deg);
}

.section-about-us {
  margin-top: 100px;
}

.section-about-us h2 {
  font-size: 2rem;
}

.about-the-food-container {
    display: flex;
    margin: 40px auto 0 auto;
    width: 50%;
    min-width: 320px;
    height: auto;
    max-height: 300px;
    /* border: 1px solid red; */
    align-items: center;
}

.about-the-food-text-container {
    width: 50%;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 35px 20px 20px 20px;
    max-height: 300px;
    font-family: 'montserrat', sans-serif;
    color: #3c5034;
    text-align: justify;
    align-items: center;
    font-size: 1.1rem;
    background-color: transparent;
  }

.about-our-food-image {
    width: 100%;
    max-width: 315px;
    min-width: 290px;
    max-height: 300px;
    object-fit: cover;
    margin: auto;
    transform: rotate(7deg);
    border-radius: 14px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: relative;
}

.about-our-food-image.visible {
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.3s;
}

#divider5 {
  background-color: transparent;
  width: 100%;
  transform: translateY(90px);
  height: auto;
}

.menu {
  margin-top: 100px;
  transform: translateY(70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 350px;
  height: 630px;
  background-color: transparent;
  /* border: 1px solid blue; */
}

.menu h2{
  background-color: transparent;
  transform: translateY(-80px);
  background-color: transparent;
}

.menu-button {
  position: absolute;
  object-fit: contain;
  display: block;
  width: 100%;
  background-color: transparent;
  transition: transform 0.3s ease;
  z-index: 1;
  /* border: 1px solid red; */
}

.menu:has(.menu-clickable:hover) .menu-button {
  transform: translateY(-7px);
  background-color: transparent;
}

.menu-clickable {
  position: absolute;
  width: 50%;
  height: 50%;
  left:25%;
  top: 17%;
  background-color: #3c5034;
  z-index: 4;
  opacity: 0;
  background-color: transparent;
}

.menu-button-background {
  position: absolute;
  display: block;
  background-color: transparent;
  z-index: 0;
  width: 100%;
  animation: menu-background 8s infinite linear;
  animation-delay: 0.3s;
}

.contact-us-wrapper {
  /* border: 1px solid red; */
  width: 100vw;
  height:550px;
  background-image: url(Assets/Images/FooterLeafBackground.jpg);
  background-color: transparent;
  background-size: cover;
  opacity: 1;
  z-index: 0;
  box-shadow: 0px -11px 20px rgba(0, 0, 0, 0.6);
  display: flex;
  position: relative;
  flex-direction: column;
}

.contact-us-box {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px auto 20px auto;
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: row;
}


.contact-us-box h2 {
  color: white;
  background-color: transparent;
  left: 30%;
}

span {background-color: transparent;}

.contact-form {
  margin: 10px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 70%;
  padding: 20px;
  z-index: 4;
  background-color: transparent;
}

label {
  font-family: 'montserrat', sans-serif;
  color: white;
  background-color: transparent;
  width: 80%;
  margin-bottom: 10px;
  z-index: 5;
}

input {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  background-color: white;
  width: 80%;
  margin-bottom: 10px;
  z-index: 5;
}

textarea {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  background-color: white;
  width: 80%;
  height: 100px;
  margin-bottom: 0;
  z-index: 5;
}

#send-button {
  font-family: 'montserrat', sans-serif;
  color: #3c5034;
  width: 35%;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

#send-button:hover {
  background-color: #547247;
  color: white;
}

.contact-us-divider{
  width: 3px;
  height: 300px;
  background-color: white;
  border-radius: 2px;
  margin: auto;
  }

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  margin: auto;
  background-color: transparent;
}

.social-media-icon {
  width: 50%; 
  height: auto;
  margin: 25px auto;
  display: block;
  cursor: pointer;
  background-color: transparent;
}

.social-media-icons a {
  margin: 5px auto;
  text-align: center;
  background-color: transparent;
  z-index: 6;
}

.contact-us-wrapper p {
  color: white;
  font-family: 'montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  height: 20px;
  text-align: center;
  justify-content: center;
  padding: 13px 0 10px 0;
  font-size: 0.75rem;
}

.copyright-p {
  font-weight: 800;
  
}

.home-button-bottom {
  width: 8%;
  height: 4%;
  position: absolute;
  bottom: 12%;
  right: 10%;
  background-color: #3c5034;
  color: white;
  padding: 14px 20px 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 10;
  font-family: 'montserrat', sans-serif;
  text-align: center;
  border: 3px solid #f5fedf;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.home-button-bottom:hover {
  background-color: #456b36;
}


@media (max-width: 700px) {
  
    .contact-us-wrapper{
    height: 500px;
  }

  .contact-us-box{
    flex-direction: column;
    width: 80%;
    height: 70%;
  }

  .contact-us-box h2{
   font-size: 1.25rem;
  }

  .contact-form {
    width: 90%;
    height: 80%;
    padding: 0px;
    margin-top: 0px;
  }

  .contact-us-divider {
    height: 3px;
    width: 70%;
    margin: auto;
  }

  .social-media-icons {
    flex-direction: row;
    height: 10%;
    
  }

  .social-media-icons a {
    margin: 0 10px;
  }

  .social-media-icon {
    width: 45px;
    height: auto;
  }
  
  #send-button {
    font-size: 0.7rem;
    padding: 5px;
  }

  .home-button-bottom {
  width: 40px;
  height: 10px;
  padding: 15px 8px 16px 10px;
  font-size: 0.7rem;
  bottom: 5px;
  }
}

 







@media (max-width: 1100px) {
  .menu{ 
    margin-bottom: -200px;
  }
}

@media (max-width: 1100px){
  .menu-clickable { 
    height: 40%;
    top: 5%;
   
  }
}

@media (max-width: 1200px){
  .menu-clickable { 
    height: 35%;
    top: 8%;
  }
}

@media (max-width: 900px){
  .menu-clickable { 
    height: 27%;
    top: 5%;
  }
}


@media (max-width: 700px){
  .menu h2 { 
    font-size: 1rem;
  }
}


@keyframes menu-background {
    0% {
    transform: rotate(-6deg);
    opacity: 1;
  }
  50% {
    transform: rotate(6deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-6deg);
    opacity: 1;
  }
}

@media (max-width: 1150px) {
  #background-ornament-1 {
    opacity: 0;
  }
}

@media (max-width: 1150px) {
  #background-ornament-2 {
    opacity: 0;
  }
}


@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(7deg);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(90%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    transform: rotate(-7deg);
    opacity: 1;
  }
}

@keyframes FadeInViewer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  .about-us-container {
    flex-direction: column;
    min-height: 680px;
  }
}


@media (max-width: 1100px) {
  .about-the-food-container {
    flex-direction: column-reverse;
    min-height: 400px;
     

  }
}


@media (max-width: 1100px) {
    .about-us-image-container2 {
    font-size: 1rem;   
    width: 80%;
}
}

@media (max-width: 1100px) {
    #Ornament3-2 {
  right: auto;
  left: -20%;
    }
}

@media (max-width: 1100px) {
    .about-the-food-text-container {
    font-size: 1rem;   
    width: 80%;
}
}

@media (max-width: 1100px) {
  .about-us-paragraph {
    width: 70%;
    font-size: 0.95rem;
  }
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    /* border: 1px solid red; */
 
  }
}


@media (max-width: 800px) {
.logo-container {
  width: 100%;
  height: 70%;
}
}

@media (max-width: 1270px) {
.navbar  {
  width: 125%;
  height: 30%;
  transform: translateX(-10%);
  /* border: 1px solid blue; */}
}

@keyframes FadeInDown {
  from {
    opacity: 0;
    transform: translateX(-0) rotate(-160deg);
  }
  to {
    opacity: 1;
    transform: translateX(-80%) translateY(5px) rotate(-180deg);
    width: 50%;
  }
}

@keyframes FadeInUp {
  from {
    opacity: 0;
    transform: translateX(-35px) translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateX(45px) translateY(-38px) rotate(38deg);
    width: 50%;
  }
}

@media (max-width: 800px) {
  .navbar ul li a:hover .nav-bar-image2 {
    animation: none;
  }
}

@media (max-width: 800px) {
  .navbar ul li a:hover .nav-bar-image1 {
    animation: none;
  }
}


@media (max-width: 1200px) {
  .third-section{
    margin-top: 200px;
  }
}

@media (max-width: 1100px) {
  .third-section{
    margin-top: 0;
  }
}


